

.verde{
    background-color: darkgreen;
    border: solid darkgreen;
    color: darkgreen;
}

.titulo{
    color: greenyellow;
    display: flex;
    justify-content: center;
    font-family: fantasy;
}

.imagen{
    display: flex;
    justify-content: center;
    background-color: greenyellow;
}

.trama {
    background-color: black;
    color: chocolate;
display: flex;
justify-content: center;
}

.parrafo{
    background-color: darkgoldenrod;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.plataforma{
    background-color: chartreuse ;
    
}